.aboutMe {
  min-height: 100vh;
  display: flex;
  padding-bottom: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: show;
  padding: 0px 50px 0px 50px;

  #title {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 24px;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    .line {
      width: 50%;
    }
  }
  .line {
    border: none;
    border-bottom: 2px solid #000;
    width: 80px;
  }
  .itemsContainer {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    img {
      width: 400px;
      height: 400px;
      @media (max-width: 500px) {
        width: 300px;
        height: 300px;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }
    h2 {
      font-size: 20px;
      text-align: left;
    }
    p {
      font-size: 16px;
      justify-content: left;
      text-align: left;
      overflow: auto;
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 17px;
      height: 100%;
      width: 470px;
      @media (max-width: 925px) {
        width: 80%;
      }
    }
    button {
      height: 42px;
      padding-left: 41px;
      padding-right: 41px;
      margin: 0;
      border: 0;
      background-color: #ecd6fc;
      border-radius: 10px;
      &:hover {
        background-color: #d4b5f9;
      }
    }
  }
}
@media (max-width: 925px) {
  .itemsContainer {
    flex-direction: column;
    img {
      width: 50%;
    }
  }
}
