.contactMe {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0px 50px 0px 50px;
  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    font-size: 24px;

    width: 100%;
    text-align: center;
    .line {
      width: 50%;
    }
  }
  .itemsContainer {
    display: flex;
    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 17px;
      h2 {
        font-size: 20px;
        text-align: left;
      }
      .line {
        border: none;
        border-bottom: 2px solid #000;
        width: 80px;
      }
      img {
        width: 40px;
        height: 40px;
      }
      p,
      h3 {
        text-align: start;
      }
      .socialLinks {
        display: flex;
        gap: 10px;
      }
      .socialText {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      @media (max-width: 925px) {
        width: 100%;
        p,
        h3 {
          text-align: center;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      width: 50%;
      border: 1px solid #000;
      padding: 25px 20px 25px 20px;
      border-radius: 10px;
      height: 500px;
      gap: 20px;

      .nameAndEmail {
        display: flex;
        width: 100%;
        align-items: left;
        gap: 20px;
      }
      .entry {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 10px;
        height: 66px;
        &.message {
          height: 100%;
          .messageBox {
            height: 100%;
            width: 100%;
            padding: 10px;
          }
        }
        p {
        }
        input {
          width: 100%;
          height: 35px;
        }
      }
      input,
      textarea {
        padding-left: 10px;
        border: 1px solid rgba(80, 77, 77, 0.9333333333);
        border-radius: 10px;
        resize: none;
      }
      button {
        height: 80px;
        padding-left: 41px;
        padding-right: 41px;
        margin: 0;
        border: 0;
        background-color: #ecd6fc;
        border-radius: 10px;
        width: 200px;
        &:hover {
          background-color: #d4b5f9;
        }
      }
      @media (max-width: 925px) {
        width: 100%;
        align-items: center;
      }
    }
  }
}
@media (max-width: 925px) {
  .itemsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 10%;
    .left {
      border-bottom: 1px solid #000000;
      padding-bottom: 15px;
      align-items: center;
    }
  }
}
