@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  font-size: 16px;
}

div.layout {
  background: rgb(255, 255, 255);

  main {
    padding: 0px 100px 0px 100px;
  }
  @media (max-width: 880px) {
    main {
      padding: 0px 50px 0px 50px;
    }
  }
  @media (max-width: 500px) {
    main {
      padding: 0px 10px 0px 10px;
    }
  }
}
